{% extends "base_admin.html" %}

{% block content %}
    <div class="container">
    <h1 class="text-left">MENU ADMIN</h1>
        <BR><BR>
        <div class="text-left">
            <div class="row"><a href="{{ url_for("alta_producto") }}">1. Alta 1 producto</a></div>
            <div class="row"><a href="{{ url_for("alta_muchos_productos") }}">2. Alta Muchos producto</a></div>
            <div class="row"><a href="{{ url_for("baja_producto") }}">3. Baja producto</a></div>
            <div class="row"><a href="{{ url_for("ver_productos") }}">4. Ver productos</a></div>
        </div>


    </div>

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}