{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}SORTEO NAVIDAD{% endblock %}



{% block content %}

    <div class="container ">
        <div class="vertical-align posicionarbol bounce-in-bck">
            <img src="{{ url_for("static", filename="images/arbol.svg") }}" class="center-block ">
            {% if productosprincipales %}
                {% set ns = namespace(countprincipales = 0) %}
                {% set nsgrupos = namespace(countgrupos = 0) %}
                {% for i in range(0, maxproductosprincipales) %}
                    {% if i == 3 or i == 6 %} <!-- modificar -->
                        {% set nsgrupos.countgrupos = nsgrupos.countgrupos + 1 %}
                    {% endif %}
                    {% if productosprincipales[i]["modificado"] == False %}
                    <form method="post" action="{{ url_for("recibirproductoseleccionado") }}">
                        <input type="hidden" name="grupo" value="{{ nsgrupos.countgrupos }}">
                        <input type="hidden" name="id_request" value="{{ id_request }}">
                        <input type="hidden" name="id_resultado" value="{{ productosprincipales[i].id_auto }}">
                        <input type="image" class="posicion_otrosproductos{{ i }}" name="" id="boton_imagen{{ i }}"
                               onclick="boton_grupo_{{ nsgrupos.countgrupos }}(this)" src="{{ productosprincipales[i].urlimagenproducto }}" height="100" width="100">
                    </form>
                    {% else %}
                        <img class="posicion_otrosproductos{{ i }}" name="" id="boton_imagen{{ i }}" src="{{ url_for("static", filename="images/error.png") }}" height="100" width="100">

                    {% endif %}
                    {% if productosprincipales[i].principal == True %}
                        {% set ns.countprincipales = ns.countprincipales + 1 %}
                        <div class="posicion_texto{{ ns.countprincipales }}">¿?</div>
                        <div class="posicion_productoprincipal{{ ns.countprincipales }}">
                            <img src="{{ productosprincipales[i].urlimagenproducto }}" height="{{ productosprincipales[i].h }}" width="{{ productosprincipales[i].v }}">
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="posicion_nomasintentos">
                    <h1><b>SE HAN TERMINADO LAS OPORTUNIDADES VUELVE EN 24 HORAS.</b></h1><br>
                    <form action="{{ url_for("reset_tiempo") }}" method="post">
                        <input type="hidden" name="id_request" value="{{ id_request }}">
                        <input type="hidden" name="reset">
                        <button type="submit" class="btn btn-success">RESET TIEMPO</button><br>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>

        function boton_grupo_0(imagen, id) {
            var elemento1 = document.getElementById("boton_imagen0");
            var elemento2 = document.getElementById("boton_imagen1");
            var elemento3 = document.getElementById("boton_imagen2");

            elemento1.style.border = "0px solid white";
            elemento2.style.border = "0px solid white";
            elemento3.style.border = "0px solid white";

            imagen.style.border = "3px solid black";


        }

        function boton_grupo_1(imagen) {

            var elemento1 = document.getElementById("boton_imagen3");
            var elemento2 = document.getElementById("boton_imagen4");
            var elemento3 = document.getElementById("boton_imagen5");

            elemento1.style.border = "0px";
            elemento2.style.border = "0px";
            elemento3.style.border = "0px";

            imagen.style.border = "3px solid black";
        }

        function boton_grupo_2(imagen) {
            var elemento1 = document.getElementById("boton_imagen6");
            var elemento2 = document.getElementById("boton_imagen7");
            var elemento3 = document.getElementById("boton_imagen8");

            elemento1.style.border = "0px";
            elemento2.style.border = "0px";
            elemento3.style.border = "0px";

            imagen.style.border = "3px solid black";
        }



    </script>
{% endblock %}