{% extends "base_admin.html" %}
{% block content %}
    <div class="container">
    <div align="left">
    <a href="{{ url_for("admin_profile") }}"><button class="btn btn-success ">HOME</button> </a>
    </div>

    <h1>LISTADO DE PRODUCTOS</h1><BR>
    {% if resultados %}
        {% for i in range(0, maxresultados) %}
            <div class="row">
            <form action="{{ url_for("opciones") }}" method="post">
                <input type="hidden" name="id" value="{{ resultados[i]["_id"] }}">
                <label >Nombre Producto</label>
                <input type="text" name="nombreproducto" value="{{ resultados[i]["nombreproducto"] }}">
                <label >URL Producto</label>
                <input type="text" name="urlproducto" value="{{ resultados[i]["urlproducto"] }}">
                <img src="{{ resultados[i]["urlimagenproducto"] }}" width="100" height="100">
                <button class="btn btn-success" type="submit" name="opcion" value="guardar">Guardar Cambios</button>
                <button class="btn btn-danger" type="submit" name="opcion" value="borrar">Borrar</button>


            </form>
            </div>
            <br><br>
        {% endfor %}
    {% else %}
        <h2>VACIO</h2>

    {% endif %}
    <BR><BR>


    </div>


{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}